.container_skills{

display: flex ;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}

.container_skills .card_skill {

width: 30%;
display: flex;
align-items: center;
gap: 5px ;
border :10px solid var (--color-bg-variant);
padding: 10px ;
border-radius: 12px;
margin-bottom: 20px;

}

.container_skills .card_skill .icon{
width: 40% ;
height: 40% ;
padding: 10px ;
border-radius: 10px ;
background: var(--color-bg-variant);
}
.container_skills .card_skill  h4{

font-size: 16px ;


}


.container_skills .card_skill p{

font-size: 14px;

}


/* responsive */
@media (max-width: 600px){

    .container{
   width: 90%;
    }
   section {
       padding-top: 5rem;
   }

   .top_section h2 {
margin-bottom: 2rem;

   }
   }






