/* SECTION BACKGROUND */
.hero_section {
  width: 100%;
  min-height: 140vh; /* يخلي الصورة كاملة */
  background: url("../../assets/1about-BDAUW0NV.png") top center / cover no-repeat;
  position: relative;
  background-color: #000;
}

/* DARK OVERLAY */
.hero_overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
}

/* WHATSAPP FLOAT */
.whatsapp_float {
  position: fixed;
  bottom: 120px; /* رفعناه لفوق */
  right: 25px;
  background: #25d366;
  color: #fff;
  font-size: 32px;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 255, 120, 0.5);
  transition: 0.3s;
  z-index: 9999;
}

.whatsapp_float:hover {
  transform: scale(1.1);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero_section {
    min-height: 180vh; /* للموبايل الصورة أطول */
    background-position: top center;
    background-size: cover;
  }

  .whatsapp_float {
    bottom: 140px; /* أعلى للموبايل */
    right: 20px;
    font-size: 28px;
    padding: 10px;
  }
}
