.hero_section {
  width: 100%;
  position: relative;
  background: #000;
  overflow: hidden;
}

.hero_bg {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

/* DARK OVERLAY */
.hero_overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

/* WHATSAPP */
.whatsapp_float {
  position: fixed;
  bottom: 110px;
  right: 25px;
  background: #25d366;
  color: #fff;
  font-size: 32px;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 255, 120, 0.5);
  transition: 0.3s;
  z-index: 9999;
}

.whatsapp_float:hover {
  transform: scale(1.1);
}

@media (max-width: 900px) {
  .whatsapp_float {
    bottom: 150px;
    right: 20px;
    font-size: 28px;
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .whatsapp_float {
    bottom: 100px;
    right: 18px;
    font-size: 25px;
    padding: 9px;
  }
}